numpy
pandas
matplotlib
opencv-python
scikit-image
scikit-learn
scipy
seaborn
jupyter
notebook
ipywidgets
Pillow
PyYAML
ultralytics
torch
torchvision
torchaudio
tqdm
albumentations
PyWavelets
imageio
plotly
huggingface-hub
requests